#SeqMule
#INSTRUCTION: All configurations are based on this file, so keep it intact. For advanced configuration, use 'seqmule pipeline --advanced' to generate a copy of this file, modify it, then use 'seqmule --advanced config_file_name' to implement it.

###############################################################################################################
###############################################################################################################
#How to change settings?
#For each item, 1 means enable, 0 means disable, some accept comma-delimited string
#For 'additional' options, just add any option/argument you want after '=', NO quotes/tabs allowed. Do NOT attempt to add options regarding critical INPUT/OUPUT as they have been specified automatically. Attempt to remove existing options may lead to analysis failure! 
###############################################################################################################
###############################################################################################################

#details about item naming
#the order of these lines dictates the relationship among them, thus it should NEVER be changed
#the number before each program dictates the priority of running
#p_program_subprogram means the program/subprogram is optional
#P_program means the program is mandatory
#PX_program means the program is exclusively mandatory
#px_program means the program is not mandatory but exclusive if called
#o_program_optionName for options
#go_program_optionName global options effective for all programs if appropriate
#programs start with upper or lower case 'p', while options start with 'go' or 'o' regardless of case. At least one program must be enabled for those with 'P' mark. Only one can be enabled for those with 'x' mark.

#WARNING
#KEEP OPTIONS RIGHT AFTER CORRESPONDING PROGRAMS!
#no space/tab allowed at beginning of each line
#no underscore inside a name
#NEVER change order of lines

#Global settings (these settings will be overriden by command line options)
go_threads= #number of threads for parallel alignment 
go_platform= #sequencer name (one value for all input or comma-separated list)
go_lb= #library name(one value for all input or comma-separated list) 
go_phred= #choose Phred quality score encoding scheme. 1 for auto-detection, 33 for for Sanger, Illumina 1.8+ FASTQ file and 64 for Solexa, Illumina 1.3+, 1.5+ FASTQ file
go_rg= #specify readgroup (one value for all input or comma-separated list)
go_ref= #reference genome file name. It should be specified with full path for robustness
go_capture= #capture region file
go_dbsnp= #dbSNP file for GATK only
go_hapmap= #HapMap file for GATK
go_dbsnpver= #dbSNP version for variant recalibration and annotation, default is 137
go_kg= #1000 Genome project VCF file
go_buildver= #genome build version, default is hg19
go_index= #index prefix for all alignment programs. This will be omitted if a program-specific index prefix is supplied
go_bowtie= #index prefix for bowtie
go_bowtie2= #index prefix for bowtie2
go_soap= #index prefix for soap
go_jmem= #max java memory
go_gatknt= #number of threads for GATK
go_tmpdir= #folder for holding temporary data


#Quality control
1p_fastqc=1 #FastQC for FASTQ/BAM file quality assessment (1 enable,0 disable).

#Initial alignment (user must choose at least one program)
2P_bwamem=1 #BWA-MEM, for read length 70bp-1Mbp, default algorithm for initial alignment (1 enable, 0 disable)
o_bwamem_matchScore=1 #score for a sequence match. -A for bwa mem.
o_bwamem_mismatchPenalty=4 #penalty for a mismatch. -B for bwa mem.
o_bwamem_gapOpenPenalty=6 #penalty for gap open. -O for bwa mem.
o_bwamem_gapExtensionPenalty=1 #penalty for gap extension; a gap of size k cost: gapOpenPenalty + gapExtensionPenalty*k. -E for bwa mem
o_bwamem_clipPenalty=5 #penalty for clipping. -L for bwa mem
o_bwamem_readSingletonPenalty=17 #penalty for unpaired read pair. -U for bwa mem.
o_bwamem_additional= #add extra arguments to 'bwa mem' command here, no quotes

2P_bwa=0 #BWA-Backtrack, for read up to 100bp (1 enable, 0 disable)
o_bwa_quality=10 #quality threshold for read trimming down to 35 bp. -q for bwa aln.
o_bwa_ALNadditional= #extra arguments for BWA aln
o_bwa_SAMadditional= #extra arguments for BWA sampe/samse
#don't forget to check .1.bt2 .rev.1.bt2 index file
2P_bowtie2=0 #bowtie2 is an optional program for initial alignment, it supports gapped alignment and some other new features compared with bowtie (1 enable, 0 disable)
o_bowtie2_EndToEnd=1 #1 for end-to-end alignment mode, 0 for local alignment
o_bowtie2_AlignOption=s #specify a preset option for bowtie2 alignment speed, 'ff' for very fast, 'f' for fast, 'ss' for very sensitive, 's' for sensitive searching, respectively
o_bowtie2_additional= #add extra arguments to bowtie2 here, no quotes

2P_bowtie=0 #bowtie is an optional program for initial alignment, it doesn't support gapped alignment (1 enable, 0 disable)
o_bowtie_ReportBest=1 #if set to 1, only report best alignment in a number of alignments of each read, if set to 0, bowtie randomly choose a alignment to report. --best for bowtie
o_bowtie_NoMaqRound=1 #1 for no rounding Phred score to the nearest 10, 0 otherwise. --nomaqround for bowtie
o_bowtie_ChunkMBs=1000 #The number of megabytes of memory a given thread is given to store path descriptors in --best mode. --chunkmbs for bowtie
o_bowtie_maxIns=1000 #max insert size allowed for paired end alignment. --maxins for bowtie.
o_bowtie_minIns=1 #max insert size allowed for paired end alignment. --minins for bowtie.
o_bowtie_additional= #add extra arguments to bowtie, no quotes

2P_soap=0 #SOAPaligner is an optional program for initial alignment, its results will only be processed by SOAPsnp.
o_soap_maxIns=1000 #max insert size allowed for paired end alignment. -x for soap
o_soap_minIns=1 #max insert size allowed for paired end alignment. -m for soap
o_soap_maxMis=2 #max mismatch allowed in one read. -v for soap
o_soap_maxN=5 #max Ns allowed in one read. -n for soap
o_soap_additional= #extra arguments to soap, no quotes


2P_snap=0 #scalable nucleotide alignment program (SNAP), a fast aligner
o_snap_singleMaxHits=300 #max hits allowed for a seed in single-end read alignment, smaller value increases alignment speed at the cost of missing possible alignments, when two paired-end reads cannot be aligned close to each other, this parameter will be used, too.
o_snap_pairMaxHits=2000 #max hits allowed for a seed in paired-end read alignment, smaller value increases alignment speed at the cost of missing possible alignments
o_snap_maxDist=15 #max edit distance that SNAP will tolerate between a read and a candidate match in the genome
o_snap_readSpacingMin=50 #min spacing allowed between a read pair, including read itself
o_snap_readSpacingMax=1000 #max spacing allowed between a read pair, including read itself
o_snap_additional= #extra arguments to snap, no quotes


#Duplicate removal (recommended except for small captured sequencing data set)
3p_samtools_rmdup=1 #use MarkDuplicates from Picard tools to mark duplicates (1 enable, 0 disable, usually enabled). Duplicate reads will not be removed.
o_samtools_forceRm=0 #if set to 1, seqmule will mark duplicates regardless of size of capture region, otherwise seqmule will mark duplicates if region is smaller than 10Mb. CAUTION: if region is too small, many reads are expected to be duplicates and should not be marked.
4p_samtools_filter=1 #use 'samtools view' command to filter reads
o_samtools_mapQ=30 #filter out reads with low mapping quality (marked as unmapped)

5Px_samtools_index=1 #use samtools to index duplicate removed BAM files (1 enable, 0 disable, must be enabled) 

#Local realignment
#CAUTION: if you want to use GATK for bowtie and bowtie2, the reference genome must agree with bowtie and bowtie2 index
6px_gatklite_realign=0 #use GenomeAnalysisTKLite from GATK to generate GATK intervals and then do realignment (1 enable, 0 disable, usually enabled). Invoke GenomeAnalysisTKLite RealignerTargetCreator and IndelRealigner to do realignment
o_gatklite_maxInMemory=200000 #max reads in memory. -maxInMemory for IndelRealigner 
o_gatklite_additional=-rf NotPrimaryAlignment -l ERROR #extra arguments to gatk lite IndelRealigner command, no quotes
6px_gatk_realign=0 #GATK4 does not currently support realignment (9/25/2021), so please leave it as 0 (disabled). Reference: https://github.com/broadinstitute/gatk/issues/3104
o_gatk_LOD=0.4 #LOD threshold above which the cleaner will clean. This term is equivalent to "significance" - i.e. is the improvement significant enough to merit realignment? Note that this number should be adjusted based on your particular data set. For low coverage and/or when looking for indels with low allele frequency, this number should be smaller. -LOD for IndelRealigner
o_gatk_maxInMemory=200000 #max reads in memory. -maxInMemory for IndelRealigner 
o_gatk_additional= -rf NotPrimaryAlignment --consensusDeterminationModel USE_READS -l ERROR #add extra arguments to gatk IndealRealigner, no quotes


#Quality recalibration
7px_gatklite_recal=0 #count covariates for base quality recalibration
o_gatklite_covariates=ReadGroupCovariate,QualityScoreCovariate,ContextCovariate,CycleCovariate #count readgroup, quality score, dinucleotide and machine cycle covariates, you can delete some of them or add your favorate ones, but they must be same as in GATK.
o_gatklite_additional=-rf BadCigar  -l ERROR #add extra arguments to gatk lite BaseRecalibrator, no quotes
7px_gatk_recal=1 #use GenomeAnalysisTK full version instead
o_gatk_covariates=ReadGroupCovariate,QualityScoreCovariate,ContextCovariate,CycleCovariate #count readgroup, quality score, dinucleotide and machine cycle covariates, you can delete some of them or add your favorate ones, but they must be same as in GATK.
o_gatk_additional= --read-filter GoodCigarReadFilter #add extra arguments to gatk BaseRecalibrator, no quotes


#Variant calling
#All outputs will be VCF format except SOAPsnp
8p_gatklite_variant=0 #default variant calling algorithm from GATK Lite (UnifiedGenotyper)
o_gatklite_originalBAM=0 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
o_gatklite_filter=1 #whether to recalibrate SNPs and filter variants. 1 for yes, 0 for no.
o_gatklite_maxGaussians=4 #maximum number of Gaussians to try during variational Bayes algorithm
o_gatklite_indelMaxGaussians=4 #maximum number of Gaussians to try during variational Bayes algorithm
o_gatklite_percentBadVariants=0.05 #what percentage of the worst scoring variants to use when building the Gaussian mixture model of bad variants
o_gatklite_numBadVariants=5000 #what percentage of the worst scoring variants to use when building the Gaussian mixture model of bad variants
o_gatklite_indelPercentBadVariants=0.05 #what percentage of the worst scoring variants to use when building the Gaussian mixture model of bad variants
o_gatklite_indelNumBadVariants=1000 #what percentage of the worst scoring variants to use when building the Gaussian mixture model of bad variants
o_gatklite_annotations=QD,HaplotypeScore,MQRankSum,ReadPosRankSum,FS,MQ #annoations used for calculations in GATK SNP recalibration, separated by comma. See VCF file's INFO field for all annotations
o_gatklite_indelAnnotations=DP,FS,MQRankSum,ReadPosRankSum #annoations used for calculations in GATK SNP recalibration, separated by comma. See VCF file's INFO field for all annotations
o_gatklite_snptsfilter=99.0 #ts-filter-level for SNP filtering
o_gatklite_indeltsfilter=99.0 #ts-filter-level for SNP filtering
o_gatklite_clusterWindowSize=10 #cluster window size for filtering indels
o_gatklite_indelfilters=QDFilter,QD<2.0;ReadPosFilter,ReadPosRankSum<-20.0;FSFilter,FS>200.0 #hard filters for indels
o_gatklite_snpfilters=QDFilter,QD<2.0;FSFilter,FS>60.0;MQFilter,MQ<40.0;HaploFilter,HaplotypeScore>13.0;MaqQualRankSumFilter,MappingQualityRankSum<-12.5;ReadPosFilter,ReadPosRankSum<-8.0 #hard filters for small input files
o_gatklite_UGadditional=-rf BadCigar --genotype_likelihoods_model BOTH -l ERROR #add extra arguments to gatk lite version unified genotyper (not filter step), no quotes
o_gatklite_forceSNPVQSR=0 #if set to 1, force using VQSR (a better filtering method) on SNP, otherwise seqmule use VQSR only if BAM size is larger than 1GB. CAUTION: if number of variants  is too small, VQSR doesn't work.
o_gatklite_forceSNPHardFilter=0 #if set to 1, force using hard filtering on SNP, otherwise seqmule use VQSR only if BAM size is larger than 1GB. CAUTION: do NOT set o_gatklite_forceSNPVQSR and o_gatklite_forceSNPHardFilter both to 1!
o_gatklite_forceINDELVQSR=0 #if set to 1, force using VQSR (a better filtering method) on INDEL, otherwise seqmule use VQSR only if BAM size is larger than 15GB. CAUTION: if number of variants  is too small, VQSR doesn't work.
o_gatklite_forceINDELHardFilter=0 #if set to 1, force using hard filtering on INDEL, otherwise seqmule use VQSR only if BAM size is larger than 15GB. CAUTION: do NOT set o_gatklite_forceINDELVQSR and o_gatklite_forceINDELHardFilte both to 1!

8p_gatk_UnifiedGenotyper=0 #deprecated for GATK4
o_gatk_originalBAM=0 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
o_gatk_filter=1 #whether to recalibrate SNPs and filter variants. 1 for yes, 0 for no.
o_gatk_maxGaussians=4 #maximum number of Gaussians to try during variational Bayes algorithm
o_gatk_indelMaxGaussians=4 #same thing as above, except for indels
o_gatk_numBadVariants=5000 #number of the worst scoring variants to use when building the Gaussian mixture model of bad variants
o_gatk_indelNumBadVariants=1000 #same thing as above, except for indels
o_gatk_annotations=QD,HaplotypeScore,MQRankSum,ReadPosRankSum,FS,MQ #annoations used for calculations in GATK SNP recalibration, separated by comma. See VCF file's INFO field for all annotations. Particularly, InbreedingCoeff is used for multi-sample calling.
o_gatk_indelAnnotations=DP,FS,MQRankSum,ReadPosRankSum #annotations used for indel recalibration
o_gatk_snptsfilter=99.0 #ts-filter-level for SNP filtering
o_gatk_indeltsfilter=99.0 #ts-filter-level for SNP filtering
o_gatk_clusterWindowSize=10 #cluster window size for filtering indels
o_gatk_indelfilters=QDFilter,QD<2.0;ReadPosFilter,ReadPosRankSum<-20.0;FSFilter,FS>200.0 #hard filters for indels
o_gatk_snpfilters=QDFilter,QD<2.0;FSFilter,FS>60.0;MQFilter,MQ<40.0;HaploFilter,HaplotypeScore>13.0;MaqQualRankSumFilter,MappingQualityRankSum<-12.5;ReadPosFilter,ReadPosRankSum<-8.0 #hard filters for small input files
o_gatk_UGadditional= -rf BadCigar -l ERROR #add extra arguments to gatk unified genotyper (not filter step), no quotes
o_gatk_forceSNPVQSR=0 #if set to 1, force using VQSR (a better filtering method) on SNP, otherwise seqmule use VQSR only if BAM size is larger than 1GB. CAUTION: if number of variants  is too small, VQSR doesn't work.
o_gatk_forceSNPHardFilter=0 #if set to 1, force using hard filtering on SNP, otherwise seqmule use VQSR only if BAM size is larger than 1GB. CAUTION: do NOT set o_gatk_forceSNPVQSR and o_gatk_forceSNPHardFilter both to 1!
o_gatk_forceINDELVQSR=0 #if set to 1, force using VQSR (a better filtering method) on INDEL, otherwise seqmule use VQSR only if BAM size is larger than 15GB. CAUTION: if number of variants  is too small, VQSR doesn't work.
o_gatk_forceINDELHardFilter=0 #if set to 1, force using hard filtering on INDEL, otherwise seqmule use VQSR only if BAM size is larger than 15GB. CAUTION: do NOT set o_gatk_forceINDELVQSR and o_gatk_forceINDELHardFilte both to 1!

8p_gatk_HaplotypeCaller=1 #alternative variant calling algorithm (HaplotypeCaller) from GATK
o_gatk_originalBAM=0 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
o_gatk_filter=1 #whether to recalibrate SNPs and filter variants. 1 for yes, 0 for no.
o_gatk_maxGaussians=4 #maximum number of Gaussians to try during variational Bayes algorithm
o_gatk_indelMaxGaussians=4 #same thing as above, except for indels
o_gatk_numBadVariants=5000 #number of the worst scoring variants to use when building the Gaussian mixture model of bad variants
o_gatk_indelNumBadVariants=1000 #same thing as above, except for indels
o_gatk_annotations=QualByDepth,MappingQualityRankSumTest,ReadPosRankSumTest,FisherStrand,RMSMappingQuality,StrandOddsRatio #annoations to be calculated, separated by comma. See VCF file's INFO field for all annotations. Particularly, InbreedingCoeff is used for multi-sample calling.
o_gatk_snptsfilter=99.0 #ts-filter-level for SNP filtering
o_gatk_indeltsfilter=99.0 #ts-filter-level for SNP filtering
o_gatk_clusterWindowSize=10 #cluster window size for filtering indels
o_gatk_indelfilters=QDFilter,QD<2.0;FSFilter,FS>60.0;SORFilter,SOR>3.0 #hard filters for indels, used when indel VQSR is unavailable
o_gatk_snpfilters=QDFilter,QD<2.0;FSFilter,FS>60.0;SORFilter,SOR>3.0 #hard filters for small input files, used when VQSR is unavailable
o_gatk_HCadditional= #add extra arguments to gatk haplotype caller (not filter step), no quotes
o_gatk_forceSNPVQSR=0 #if set to 1, force using VQSR (a better filtering method) on SNP, otherwise seqmule use VQSR only if BAM size is larger than 1GB. CAUTION: if number of variants  is too small, VQSR doesn't work.
o_gatk_forceSNPHardFilter=0 #if set to 1, force using hard filtering on SNP, otherwise seqmule use VQSR only if BAM size is larger than 1GB. CAUTION: do NOT set o_gatk_forceSNPVQSR and o_gatk_forceSNPHardFilter both to 1!
o_gatk_forceINDELVQSR=0 #if set to 1, force using VQSR (a better filtering method) on INDEL, otherwise seqmule use VQSR only if BAM size is larger than 15GB. CAUTION: if number of variants  is too small, VQSR doesn't work.
o_gatk_forceINDELHardFilter=0 #if set to 1, force using hard filtering on INDEL, otherwise seqmule use VQSR only if BAM size is larger than 15GB. CAUTION: do NOT set o_gatk_forceINDELVQSR and o_gatk_forceINDELHardFilte both to 1!


8p_samtools_mpileup=0 #default variant calling algorithm
o_samtools_originalBAM=0 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
o_samtools_bwaDownGrade=50 #Coefficient for downgrading mapping quality for reads containing excessive mismatches, 50 for bwa is recommended. Option only valid for bwa. -C for mpileup
o_samtools_minDepth=10 #minimum read depth, 0 for unlimited min depth. -d for vcfutils
o_samtools_minStrandBias=0.0001 #minimum P-value for strand bias (given PV4). -1 for vcfutils
o_samtools_minBaseQBias=1e-100 #minimum P-value for baseQ bias. -2 for vcfutils
o_samtools_minMapQBias=0 #minimum P-value for mapQ bias. -3 for vcfutils
o_samtools_minEndDistBias=0.0001 #minimum P-value for end distance bias. -4 for vcfutils
o_samtools_SAMadditional= #extra arguments for samtools mpileup. -SuD already specified
o_samtools_BCFadditional= #extra arguments for bcftools view. -vcg already specified, -T is already set for somatic calling
o_samtools_FILTERadditional= #extra arguments for vcfutils variant filter

8p_varscan=0 #optional variant calling algorithm
o_varscan_originalBAM=0 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
o_varscan_minDepth=10 #minimum read depth at a position to call a variant, 0 for unlimited min depth. --min-coverage
o_varscan_minSupport=2 #minimum supporting reads at a position to call variants. --min-reads2
o_varscan_minBaseQ=20 #minimum average base quality for variant-supporting reads. --min-avg-qual
o_varscan_P=0.1 #p-value threshold for calling variants. --p-value
o_varscan_SAMadditional= #extra arguments for samtools mpileup. -B already specified.
o_varscan_VARadditional= #extra arguments for varscan variant calling. --output-vcf 1 --variants 1 already specified
o_varscan_VARSOMATICadditional= --min-coverage-normal 8 --min-coverage-tumor 6 --normal-purity 1.00 --tumor-purity 1.00 --somatic-p-value 0.05 #extra arguments for varscan SOMATIC variant calling. --output-vcf 1 already specified

8p_soapsnp=0 #optional variant calling algorithm
o_soapsnp_althom=0.0005 #novel altHOM prior probability. -r
o_soapsnp_het=0.001 #novel HET prior probability. -e
o_soapsnp_titv2=0 #choose whether to set transition/transversion ratio to 2 in prior probability (1 yes, 0 no). -t
o_soapsnp_ranksum=0 #whether to use ranksum test? (1 enable, 0 disable). -u
o_soapsnp_binomial=0 #whether to use binomial test? (1 enable, 0 disable). -n
o_soapsnp_readlen=200 #max read length. -L
o_soapsnp_minDepth=10 #minimum read depth, 0 for unlimited min depth. This function is implemented by SeqMule.
o_soapsnp_additional= #extra arguments for soapsnp. -q already specified

8p_freebayes=0 #optional variant calling algorithm
o_freebayes_originalBAM=0 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
o_freebayes_minMapQual=30 #minimum mapping quality for a read to be called. --min-mapping-quality
o_freebayes_minBaseQual=10 #minimum base quality for an allele. --min-base-quality
o_freebayes_maxMismatchFraction=0.5 #exclude reads with a large of fraction of mismatches. --read-max-mismatch-fraction
o_freebayes_maxSNP=5 #exclude reads with too many SNPs. --read-snp-limit
o_freebayes_maxINDEL=5 #exclude reads with too many INDELs. --read-indel-limit
o_freebayes_minDepth=10 #only retain variants with sufficient coverage depth. --min-coverage
o_freebayes_additional= #extra arguments for freebayes

#SeqMule is not fully compatiable with SNVer
#8p_snver=0 #optional variant calling algorithm
#o_snver_originalBAM=1 #0 for using GATK base quality recalibration, and indel realignment, 1 otherwise
#o_snver_minMapQual=20 #minimum mapping quality. -mq
#o_snver_minBaseQual=17 #minimum base quality. -bq
#o_snver_StrandBias=0.0001 #strand bias threshold, remove potential false positive due to strand bias. -s
#o_snver_Fisher=0.0001 #Fisher exact threshold, remove potential false positives due to allele imbalance. -f
#o_snver_additional= #extra arguments for SNVer


